@charset "UTF-8";

body {
    background-color: #6B7A8F;
}

#navbar {
    background-color: #F7882F;
    text-align: center;
}

.current-tab {
    background-color:#F7C331;
}

#main-header {
    display: flex;
    justify-content: center;
    color: #F7C331;
}

/* input {
    margin: 10px;
} */

input:hover {
    background-color: lightblue;
}

button:hover {
    background-color: lightblue;
}

#reimb-description:hover {
    background-color: lightblue;
}

#username:hover, #password:hover, #login-btn:hover{
    background-color:lightblue;
}

#tab-1:hover, #tab-2:hover, #tab-3:hover, #tab-4:hover, #tab-5:hover {
    background-color: #F7C331;
}

#username-div, #password-div, #login-btn-div {
   margin-top: 3px;
}

#login-btn-div {
    margin-top: 10px;
    margin-bottom: 15px;
}

#create-ticket-form input {
    margin: 5px;
}

#create-ticket-form p {
    margin-top: 5px;
}

#create-btn {
    margin-top: 20px;
}

/* #employee-table th {
    margin: 10px;
} */

td {
    padding: 10px;
}

#main-div {
    display: flex;
    justify-content: center;
}

#content-div {
    background-color: #F7882F;
    padding: 10px;
    border-style: solid;
    border-color: #F7C331;
    border-width: 3px;
}

#employee-table>tr {
    padding:3px;
    background-color: white;
    border-style: solid;
    border-color: #F7882F;
    border-width: 5px;
}

#ticket-table tr {
    padding:3px;
    background-color: white;
    border-style: solid;
    border-color: #F7882F;
    border-width: 5px;
}

#ticket-table th, #ticket-table td {
    text-align: center;
}

/* #ticket-head-row *, .ticket-body-row * {
    border-width: 3px;
    border-style:solid;
} */

#ticket-head-row>th, #ticket-head-row>td {
    margin:3px;
}

#pending {
    color: #F7C331;
}

#approved {
    color: green;
}

#denied {
    color: red;
}

span {
    font-weight: bold;
}

#div-for-warning {
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-for-warning>p {
    color:red;
    padding:3px 5px;
    background-color:white;
    /* border-width:100px;
    border-color:#F7C331; */
}

/* #logo-div {
    display: flex;
    justify-content: left;
    margin: 20px;
} */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background-color: lightblue; */
    border-width: 10px;
    border-style: solid;
    border-color: #6B7A8F;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    /* -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; */
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }